@page
@model SobreModel
@{
    ViewData["Title"] = "Sobre";
}
<h4>@ViewData["Title"]</h4>
<hr/>

<p>ESTAPAR TESTE</p>

<p>Projeto criado por Ítalo Silveira [<a href="https://github.com/isilveira">GitHub</a> | <a href="mailto:italobrian@gmail.com">Email</a>]</p>

<p>Disponível em <a href="https://github.com/isilveira/challenge-project-estapar">Repositório</a></p>